<% include _header %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%=__('lista')%></h1>
      <p class="lead"><%=__('listando')%> <%= anuncios.length %> <%=__('de')%> <%= total %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th><%=__('nombre')%></th>
          <th><%=__('venta')%></th>
          <th style="text-align: right"><%=__('precio')%></th>
          <th><%=__('foto')%></th>
          <th>Tags</th>
          <th>#</th>
        </tr></thead>
        <tbody>
<% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta ? "Si" : 'No' %></td>
            <td style="text-align: right"><%= anuncio.precio / 100 %>€</td>
            <td><img src="<%= anuncio.foto %>"></td>
            <td><%= anuncio.tags %></td>
            <td><%= anuncio._id %></td>
          </tr>
<% }) %>
        </tbody>
      </table>

      <p><%=__('ejemplos')%></p>

      <ul>
        <li><a href="?"><%=__('todos')%> (max. 1000)</a></li>
        <li><a href="?start=2&limit=2"><%=__('paginado')%></a></li>
        <li><a href="?sort=precio"><%=__('ordenar_ascendente')%></a></li>
        <li><a href="?sort=-precio"><%=__('ordenar_descendente')%></a></li>
        <li><a href="?tag=mobile"><%=__('con_tag_movil')%></a></li>
      </ul>

    </div>
  </div>

  <a href="/"><%=__('volver_home')%></a>

</div>
<% include _footer %>
